{
    "efxpt:design_db": {
        "@name": {{design.name}},
        "@device_def": {{design.device}},
        "@location": "",
        "@version": "",
        "@last_change_date": "",
        "@xmlns:efxpt": "http://www.efinixinc.com/peri_design_db",
        "@xmlns:xsi": "http://www.w3.org/2001/XMLSchema-instance",
        "@xsi:schemaLocation": "http://www.efinixinc.com/peri_design_db peri_design_db.xsd ",
        "efxpt:device_info": {
            "efxpt:iobank_info": {
                "efxpt:iobank": [
                    {% for bank_name, bank_type in design.banks %}
                    {
                        "@name": {{bank_name}},
                        "@iostd": {{bank_type}}
                    },
                    {% endfor %}
                ]
            },
            "efxpt:ctrl_info": {
                "efxpt:ctrl": {
                    "@name": "cfg",
                    "@ctrl_def": "CONFIG_CTRL0",
                    "@clock_name": "",
                    "@is_clk_invert": "false",
                    "@cbsel_bus_name": "cfg_CBSEL",
                    "@config_ctrl_name": "cfg_CONFIG",
                    "@ena_capture_name": "cfg_ENA",
                    "@error_status_name": "cfg_ERR",
                    "@um_signal_status_name": "cfg_USR_STATUS",
                    "@is_remote_update_enable": "false",
                    "@is_user_mode_enable": "false"
                }
            }
        },
        "efxpt:gpio_info": {
            "@device_def": "T20F169",
            "efxpt:gpio": [
                {% for gpio in design.gpios %}
                {
                    "@name": {{gpio.name}},
                    "@gpio_def": {{gpio.def}},
                    "@mode": {{gpio.mode}},
                    "@bus_name": {{gpio.bus}},
                    "@is_lvds_gpio": {{gpio.lvds}},
                    "efxpt:input_config": {
                        "@name": {{gpio.iconf}},
                        "@name_ddio_lo": {{gpio.ddrio_lo}},
                        "@conn_type": {{gpio.conntype}},
                        "@is_register": {{gpio.isreg}},
                        "@clock_name": {{gpio.clkname}},
                        "@is_clock_inverted": {{gpio.clk_incv}},
                        "@pull_option": {{gpio.pull}},
                        "@is_schmitt_trigger": {{gpio.schmitt}},
                        "@ddio_type": {{gpio.ddrio_type}}
                    }
                },
                {% endfor %}
            ],
            "efxpt:global_unused_config": {
                "@state": "input with weak pullup"
            }
        },
        "efxpt:pll_info": {
            "efxpt:pll": [
                {% for pll in design.plls %}
                {
                    "@name": {{pll.name}},
                    "@pll_def": {{pll.ref}},
                    "@ref_clock_name": {{pll.clk_name}},
                    "@ref_clock_freq": {{pll.freqs}},
                    "@multiplier": "2",
                    "@pre_divider": "1",
                    "@post_divider": "1",
                    "@reset_name": "",
                    "@locked_name": "",
                    "@is_ipfrz": "false",
                    "@is_bypass_lock": "true",
                    "efxpt:output_clock": [
                        {% for o_clk in pll_clk %}
                        {
                            "@name": {{o_clk.name}},
                            "@number": {{o_clk.number}},
                            "@out_divider": {{o_clk.divider}},
                            "@adv_out_phase_shift": {{o_clk.psh}}
                        },
                        {% endfor &}
                    ],
                    "efxpt:adv_prop": {
                        "@ref_clock_mode": {{pll.ref_clk_mode}},
                        "@ref_clock1_name": {{pll.ref_clk_name}},
                        "@ext_ref_clock_id": {{pll.ref_clk_id}},
                        "@clksel_name": {{pll.clksel}},
                        "@feedback_clock_name": {{pll.feedback_name}},
                        "@feedback_mode": {{pll.feedback_mode}}
                    }
                },
                {% endfor %}
            ]
        },
        "efxpt:lvds_info": null,
        "efxpt:mipi_info": {
            "efxpt:mipi": [
                {% for mipi in design.mipi %}
                {
                    "@name": {{mipi.name}},
                    "@mipi_def": {{mipi.def}},
                    "@ops_type": {{mipi.type}},
                    "efxpt:mrx_info": {
                        "@dphy_calib_clock_freq": {{mipi.freq}},
                        "efxpt:gen_pin": {
                            "efxpt:pin": [
                                {% for pin in mipi.pins %}}
                                {
                                    "@name": "mipi_inst1_ULPS_CLK",
                                    "@type_name": "ULPS_CLK",
                                    "@is_bus": "false"
                                },
                            {% endfor %}
                            ]
                        },
                        "efxpt:phy_lane": [
                        {% for lane in mipi.lanes %}
                            {
                                "@lane_id": {{lane.id}},
                                "@logical_lane_id": {{lane.logic_id}},
                                "@is_pn_swap": {{lane.swap}}
                            },
                        {% endfor %}
                        ],
                        "efxpt:rx_timing": {
                            "@t_clk_settle": "9",
                            "@t_hs_settle": "8"
                        }
                    {% endfor %}
                },
                {% endfor %}
            ]
        },
        "efxpt:jtag_info": {
            "efxpt:jtag": {
                "@name": "jtag_inst1",
                "@jtag_def": "JTAG_USER1",
                "efxpt:gen_pin": {
                    "efxpt:pin": [
                        {
                            "@name": "jtag_inst1_DRCK",
                            "@type_name": "DRCK",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_TMS",
                            "@type_name": "TMS",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_RESET",
                            "@type_name": "RESET",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_RUNTEST",
                            "@type_name": "RUNTEST",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_UPDATE",
                            "@type_name": "UPDATE",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_TDI",
                            "@type_name": "TDI",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_SHIFT",
                            "@type_name": "SHIFT",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_CAPTURE",
                            "@type_name": "CAPTURE",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_TCK",
                            "@type_name": "TCK",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_TDO",
                            "@type_name": "TDO",
                            "@is_bus": "false"
                        },
                        {
                            "@name": "jtag_inst1_SEL",
                            "@type_name": "SEL",
                            "@is_bus": "false"
                        }
                    ]
                }
            }
        }
    }
}
