proc syn_proj_create {project_name {mode 0} {parameter_list {}} } {

    {{cust_syn_proj_create}} $project_name

}

proc syn_proj_files {project_name project_files} {

    {{cust_sync_proj_file}} $project_name

}

proc syn_proj_run {project_name} {

    {{cust_syn_proj_run}} $project_name

}
